<p-toast></p-toast>

<p-dialog
  [(visible)]="isNuevaAgencia"
  (onShow)="onShow()"
  (onHide)="onHide()"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '52vw' }"
  header="NUEVA AGENCIA"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column gap-2">
      <h1 class="m-0 text-900 font-semibold text-xl line-height-3">
        NUEVA AGENCIA
      </h1>
      <span class="text-600 text-base"
        >Crea todas las Agencias disponibles</span
      >
    </div>
  </ng-template>

  <form
    class="flex flex-column gap-3 mt-4"
    [formGroup]="agenciaForm"
    (ngSubmit)="crearAgencia()"
  >
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="nombre"
              autocomplete="off"
              formControlName="nombre"
            />
            <label class="ml-2" htmlFor="nombre">Nombre</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-6">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="direccion"
              autocomplete="off"
              formControlName="direccion"
            />
            <label class="ml-2" htmlFor="direccion">Direccion</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <app-custom-departamento-dropdown
              formControlName="departamento"
            ></app-custom-departamento-dropdown>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <app-custom-provincias-dropdown
              formControlName="provincia"
              [departamentoSelected]="departamentoSelected"
            ></app-custom-provincias-dropdown>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <p-calendar
              appendTo="body"
              [showIcon]="true"
              [showTime]="true"
              [timeOnly]="true"
              [showSeconds]="true"
              formControlName="horarioInicio"
            ></p-calendar>
            <label for="horarioInicio" class="ml-2">Horario Inicio</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <p-calendar
              appendTo="body"
              [showIcon]="true"
              [showTime]="true"
              [timeOnly]="true"
              [showSeconds]="true"
              formControlName="horarioTermino"
            ></p-calendar>
            <label for="horarioTermino" class="ml-2">Horario Termino</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="longitud"
              autocomplete="off"
              formControlName="longitud"
            />
            <label class="ml-2" htmlFor="longitud">Longitud</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <input
              pInputText
              id="latitud"
              autocomplete="off"
              formControlName="latitud"
            />
            <label class="ml-2" htmlFor="latitud">Latitud</label>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <app-custom-tipo-agencia-dropdown
              formControlName="tipoAgencia"
              [label]="'Tipo Agencia'"
              [filter]="false"
            ></app-custom-tipo-agencia-dropdown>
          </span>
        </div>
      </div>

      <div class="field mb-4 col-12 md:col-3">
        <div class="mb-3 flex align-items-center">
          <span class="p-float-label col-12">
            <app-custom-agencias-dropdown
              formControlName="agenciaPadre"
              [label]="'Agencia Padre'"
            ></app-custom-agencias-dropdown>
          </span>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      [label]="agenciaId == 0 ? 'Guardar Agencia' : 'Actualizar Agencia'"
      (click)="crearAgencia()"
    ></p-button>
  </ng-template>
</p-dialog>
