<div
  class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static"
  style="height: 60px"
>
  <a
    pRipple
    class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
    pStyleClass="#app-sidebar-11"
    enterClass="hidden"
    enterActiveClass="fadeinleft"
    leaveToClass="hidden"
    leaveActiveClass="fadeoutleft"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <a
    pRipple
    class="cursor-pointer block lg:hidden text-700"
    pStyleClass="@next"
    enterClass="hidden"
    enterActiveClass="fadein"
    leaveToClass="hidden"
    leaveActiveClass="fadeout"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-ellipsis-v text-2xl"></i>
  </a>
  <ul
    class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row w-auto lg:w-full surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static"
  >
    <li>
      <a
        pRipple
        class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
        <span class="block lg:hidden font-medium">Inbox</span>
      </a>
    </li>
    <li>
      <a
        pRipple
        class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <i
          class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0"
          pBadge
          severity="danger"
        ></i>
        <span class="block lg:hidden font-medium">Notifications</span>
      </a>
    </li>
    <li>
      <a
        pRipple
        class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <i class="pi pi-cog text-base lg:text-2xl mr-2 lg:mr-0"></i>
        <span class="block lg:hidden font-medium">Settings</span>
      </a>
    </li>
    <li>
      <a
        pRipple
        class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <i class="pi pi-user text-base lg:text-2xl mr-2 lg:mr-0"></i>
        <span class="block lg:hidden font-medium">Profile</span>
      </a>
    </li>
    <li>
      <a
        pRipple
        class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <i class="pi pi-star text-base lg:text-2xl mr-2 lg:mr-0"></i>
        <span class="block lg:hidden font-medium">Favorites</span>
      </a>
    </li>
    <li>
      <p-toast></p-toast>
      <p-confirmDialog
        [style]="{ width: '50vw' }"
        key="positionDialog"
        [position]="position"
        rejectButtonStyleClass="p-button-outlined"
      ></p-confirmDialog>
      <a
        pRipple
        (click)="confirmPosition('left')"
        class="flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <i class="pi pi-sign-out text-base lg:text-2xl mr-2 lg:mr-0"></i>
        <span class="block lg:hidden font-medium">Cerrar Sesion</span>
      </a>
    </li>
    <li class="border-top-1 surface-border lg:border-top-none ml-auto">
      <a
        pRipple
        class="flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"
      >
        <img
          src="https://img.freepik.com/vector-premium/perfil-hombre-dibujos-animados_18591-58482.jpg"
          class="mr-3 lg:mr-0"
          style="width: 32px; height: 32px"
          alt="usuario imagen"
        />
        <div class="block lg:hidden">
          <div class="text-900 font-medium">{{ usuario.NombreUsuario }}</div>
          <span class="text-600 font-medium text-sm">{{
            usuario.NombrePerfil
          }}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
